{% extends "home.html" %}
{% block content %}
    <legend class="border-bottom mb-4">
        Manage User
    </legend>
    <div class="col-md-12">
        <label>Username<input type="text" id="username_search" class="form-control">
        </label>
        <label>Type<select id="user_type" name="user_type" class="form-control">
            <option value="">All</option>
            <option value="User">User</option>
            <option value="Visitor">Visitor</option>
            <option value="Staff">Staff</option>
            <option value="Manager">Manager</option>
        </select>
        </label>
        <label>Status<select id="user_status" name="user_status" class="form-control">
            <option value="">All</option>
            <option value="Approved">Approved</option>
            <option value="Pending">Pending</option>
            <option value="Decline">Decline</option>
        </select>
        </label>​
    </div>
    <div class="col-md-12">
        <!--Script for admin needed-->
        <button type="button" class="btn btn-outline-info" id="admin_manage_user_approve">Approve</button>
        <button type="button" class="btn btn-outline-info" id="admin_manage_user_decline">Decline</button>
    </div>
    <div class="col-md-12">
        <table id="user_list" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Username</th>
                <th>Email Count</th>
                <th>User Type</th>
                <th>Status</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-outline-info" onclick="goBack()">Back</button>
    </div>

    <script>
        $(document).ready(function () {
            var table = $('#user_list').DataTable({
                data: JSON.parse({{ users|tojson|safe }}),
                columns: [
                    {
                        data: "username"
                    },
                    {
                        data: "email_count",
                    },
                    {
                        data: "user_type"
                    },
                    {
                        data: "status"
                    }
                ],
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                order: [
                    [1, 'asc']
                ]
            });

            table.columns(0).every(function () {
                var that = this;
                $('#username_search').on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });

            $('#user_type').on('change', function () {
                table.columns(2).search(this.value).draw();
            });

            $('#user_status').on('change', function () {
                table.columns(3).search(this.value).draw();
            });

            $('#admin_manage_user_approve').on('click', function () {
                var user = table.cell('.selected', 0).data();
                var status = "APPROVED";
                var data = JSON.stringify({username: user, status: status})
                console.log(data)
                $.ajax({
                    url: '{{ url_for('administrator.manage_user_send_data') }}',
                    type: 'POST',
                    contentType: 'application/json;charset=UTF-8',
                    datatype: 'json',
                    data: data,
                    success: function (data) {
                        alert(data.message);
                        if (data.result == "True") {
                            table.cell('.selected', 3).data("APPROVED");
                        }
                    },
                    error: function (data) {
                        alert("Please make sure your input is correct!");
                    }
                });
            });

            $('#admin_manage_user_decline').on('click', function () {
                var user = table.cell('.selected', 0).data();
                var status = "DECLINED";
                var data = JSON.stringify({username: user, status: status})
                $.ajax({
                    url: '{{ url_for('administrator.manage_user_send_data') }}',
                    type: 'POST',
                    contentType: 'application/json;charset=UTF-8',
                    datatype: 'json',
                    data: data,
                    success: function (data) {
                        alert(data.message);
                        if (data.result == "True") {
                            table.cell('.selected', 3).data("DECLINED");
                        }
                    },
                    error: function (data) {
                        alert(data.message);
                    }
                });

            });

        });

    </script>

{% endblock content %}
