{% extends "home.html" %}
{% block content %}
<div class="row">
        <div class="unselected-field row" id="select">
            <label>Site<select id="site_list" name="site_list">
                    <option>Site</option>
                </select>
            </label>
            <label>Manager<select id="manager_list" name="manager_list">
                    <option value="Approved">Approved</option>
                    <option value="Pending">Pending</option>
                    <option value="Decline">Decline</option>
                </select>
            </label>
        </div>​
</div>
<div class="row">
    <!--Script for admin needed-->
    <button type="button" class="btn btn-outline-info" id="admin_manage_user_approve">Approve</button>
    <button type="button" class="btn btn-outline-info" id="admin_manage_user_decline">Approve</button>
</div>
<div class="row">
<table id="user_list" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email Count</th>
            <th>User Type</th>
            <th>Status</th>
        </tr>
    </thead>
</table>
</div>
<div class="row">
<button type="button" class="btn btn-outline-info" href="javascript:history.back()">Back</button>
</div>
{% endblock content %}
