{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <form method="post" action="" title="Transit_Filter">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Manage User
            </legend>
            <div class="form-group">
                {{ render_field(form.username)}}
            </div>
            <div class="form-group">
                {{ render_field(form.type)}}
            </div>
            <div class="form-group">
                {{ render_field(form.status)}}
            </div>
            <div class="form-group">
                {{ render_field(form.users)}}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
    </form>
    <button type="button" class="btn btn-outline-info" onclick="window.location.href='{{ url_for('main.home') }}';">Back</button>
</div>
<div class="border-top pt-2">
        <small class="text-muted">
                Sign out now? <a class="ml-2" href="{{ url_for('maiin.login') }}">Sign out</a>
            </small>>
</div>
{% endblock content %}