{% extends "home.html" %}
{% block content %}
    <legend class="border-bottom mb-4">
        Manage Site
    </legend>
    <div class="row">
    <div class="col-md-12">
        <!--Script for admin needed-->
        <button type="button" class="btn btn-outline-info" id="site_edit">Edit</button>
        <button type="button" class="btn btn-outline-info" id="site_create">Create</button>
        <button type="button" class="btn btn-outline-info" id="site_delete">Delete</button>
    </div>
    </div>
    <div class="row mt-3">
    <div class="col-md-12">
        <table id="site_list" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Manager</th>
                <th>Open Everyday</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Manager</th>
                <th>Open Everyday</th>
            </tr>
            </tfoot>
        </table>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-outline-info" onclick="location.href='{{ url_for('main.login') }}'">Back
        </button>
    </div>
    </div>
    <script>
        $(document).ready(function () {
            var table = $('#site_list').DataTable({
                data: JSON.parse({{ sites|tojson|safe }}),
                columns: [
                    {
                        "data": "null",
                        "defaultContent": '',
                    },
                    {
                        data: "site_name"
                    },
                    {
                        data: "manager_name",
                    },
                    {
                        data: "open_every_day"
                    }
                ],
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                },
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                order: [
                    [1, 'asc']
                ]
            });

            $('#open_everyday').on('change', function () {
                table.columns(2).search(this.value).draw();
            });

            $('#site_edit').on('click', function () {
                var name = encodeURIComponent(table.cell('.selected', 1).data());
                if (name == undefined) {
                    alert("You must Select a site first!");
                    return false;
                }
                window.location.replace("{{ url_for('administrator.edit_site')}}?site_name=" + name);
            });

            $('#site_create').on('click', function () {
                window.location.replace("{{ url_for('administrator.create_site') }}");
            });

            $('#site_delete').on('click', function () {
                var name = table.cell('.selected', 1).data();
                var data = JSON.stringify({site_name: name});
                $.ajax({
                    url: '{{ url_for('administrator.manage_site_send_data') }}',
                    type: 'DELETE',
                    contentType: 'application/json;charset=UTF-8',
                    datatype: 'json',
                    data: data,
                    success: response => {
                        alert(data.message);
                        if (data.result == "True") {
                            table.row('.selected').remove().draw();
                        }
                    },
                });
            });
        });
    </script>
{% endblock content %}
