{% extends "home.html" %}
{% block content %}
    <legend class="border-bottom mb-4">
        Manage Transit
    </legend>
    <div class="row">
        <div class="col-md-4">
            <label>Transport Type<select id="transport_type" name="transport_type" class="form-control">
                <option value="">ALL</option>
                <option value="MARTA">MARTA</option>
                <option value="Bus">Bus</option>
                <option value="Bike">Bike</option>
            </select>
            </label>
        </div>
        <div class="col-md-4">
            <label>Route<input type="text" id="route_search" class="form-control">
            </label>
        </div>
        <div class="col-md-4">
            <label>Contain Site<select id="contain_site" name="contain_site" class="form-control">
                {% for site in sites %}
                    <option value="{{ site }}">{{ site }}</option>
                {% endfor %}
            </select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Minimum Price<input type="text" id="min" name="min" class="form-control">
            </label>
        </div>
        <div class="col-md-4">
            <label>Maximum Price<input type="text" id="max" name="max" class="form-control">
            </label>
        </div>
    </div>
    <div class="row">
    <div class="col-md-12 button-group">
        <button type="button" class="btn btn-outline-info" id="transit_edit">Edit</button>
        <button type="button" class="btn btn-outline-info" id="transit_create">Create</button>
        <button type="button" class="btn btn-outline-info" id="transit_delete">Delete</button>
    </div>
    </div>
    <div class="row mt-3">
    <div class="col-md-12">
        <table id="transit_list" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th></th>
                <th>Route</th>
                <th>Transport Type</th>
                <th>Price</th>
                <th># Connected Sites</th>
                <th># Transit Logged</th>
            </tr>
            </thead>
        </table>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-outline-info" onclick="location.href='{{ url_for('main.login') }}'">Back
        </button>
    </div>
    </div>
    <script>
        $(document).ready(function () {
            var table = $('#transit_list').DataTable({
                ajax: {
                    url: "{{ url_for('administrator.manage_transit_get_table_data') }}",
                    type: "GET",
                    data: function () {
                        return {
                            site_name: $("#contain_site option:selected").text()
                        }
                    }
                },
                columns: [
                    {
                        "data": "null",
                        "defaultContent": '',
                    },
                    {
                        data: "route"
                    },
                    {
                        data: "transport_type",
                    },
                    {
                        data: "price"
                    },
                    {
                        data: "num_of_connected_sites"
                    },
                    {
                        data: "num_of_transit_logged"
                    }
                ],
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                order: [
                    [1, 'asc']
                ]
            });

            $('#transport_type').on('change', function () {
                table.columns(2).search(this.value).draw();
            });

            table.columns(1).every(function () {
                var that = this;
                $('#route_search').on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });


            $('#transit_edit').on('click', function () {
                var name = table.cell('.selected', 1).data();
                var type = table.cell('.selected', 2).data();
                if (name == undefined) {
                    alert("You must Select a site first!");
                    return false;
                }
                if (type == undefined) {
                    alert("You must Select a transport type first!");
                    return false;
                }
                window.location.replace("{{ url_for('administrator.edit_transit')}}?site_name=" + name + "/?transport_type=" + type);
            });

            $('#transit_create').on('click', function () {
                window.location.replace("{{ url_for('administrator.create_transit') }}");
            });

            $('#transit_delete').on('click', function () {
                var name = table.cell('.selected', 1).data();
                var action = "DELETE"
                var data = JSON.stringify({transit_name: name, action: action})
                $.ajax({
                    url: '{{ url_for('administrator.manage_transit_send_data') }}',
                    type: 'POST',
                    contentType: 'application/json;charset=UTF-8',
                    datatype: 'json',
                    data: data,
                    success: response => {
                        alert(data.message);
                        if (data.result == "True") {
                            table.row('.selected').remove().draw();
                        }
                    }
                });
            });

        });

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = parseInt($('#min').val(), 10);
                var max = parseInt($('#max').val(), 10);
                var price = parseFloat(data[3]) || 0;

                if ((isNaN(min) && isNaN(max)) ||
                    (isNaN(min) && price <= max) ||
                    (min <= price && isNaN(max)) ||
                    (min <= price && price <= max)) {
                    return true;
                }
                return false;
            }
        );

        $('#min, #max').keyup(function () {
            table.draw();
        });

    </script>
{% endblock content %}
