{% extends "home.html" %}
{% block content %}
    <div class="col-md-12">
        <label>Site<select id="contain_site" name="contain_site" class="form-control">
            {% for site in sites %}
                <option value="{{ site }}">{{ site }}</option>
            {% endfor %}
        </select>
        </label>
        <label>Manager<select id="contain_manager" name="contain_manager" class="form-control">
            {% for manager in managers %}
                <option value="{{ manager }}">{{ manager }}</option>
            {% endfor %}
        </select>
        </label>
    </div>
    <div class="col-md-12">
        <label>Open Everyday<select id="open_everyday" name="open_everyday" class="form-control">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        </label>
    </div>
    <div class="col-md-12">
        <!--Script for admin needed-->
        <button type="button" class="btn btn-outline-info" id="site_edit">Edit</button>
        <button type="button" class="btn btn-outline-info" id="site_create">Create</button>
        <button type="button" class="btn btn-outline-info" id="site_delete">Delete</button>
    </div>
    <div class="col-md-12">
        <table id="site_list" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Manager</th>
                <th>Open Everyday</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-outline-info" onclick="goBack()">Back</button>
    </div>
    <script>
        $(document).ready(function () {
            var table = $('#site_list').DataTable({
                ajax: {
                    url: "{{ url_for('administrator.manage_site_get_table_data') }}",
                    type: "GET",
                    data: function () {
                        return {
                            site_name: $("#contain_site option:selected").text(),
                            manager_name: $("#contain_manager option:selected").text()
                        }
                    }
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "manager",
                    },
                    {
                        data: "open_everyday"
                    }
                ],
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                order: [
                    [1, 'asc']
                ]
            });

            $('#open_everyday').on('change', function () {
                table.columns(1).search(this.value).draw();
            });

            $('#site_edit').on('click', function () {
                var name = table.cell('.selected', 0).data();
                window.location.replace("{{ url_for('administrator.edit_site', name) }}");
            });

            $('#site_create').on('click', function () {
                window.location.replace("{{ url_for('administrator.create_site') }}");
            });

            $('#site_delete').on('click', function () {
                var name = table.cell('.selected', 0).data();
                var data = JSON.stringify({site_name:name})
                $.ajax({
                    url: '{{ url_for('administrator.manage_site_send_data') }}',
                    type: 'DELETE',
                    contentType: 'application/json;charset=UTF-8',
                    datatype: 'json',
                    data: data,
                    success: response => {
                            table.ajax.reload(function (json) {
                            console.log(json.site)
                        });
                });
            });

        });
    </script>
{% endblock content %}
