{% extends "function-visitor.html" %}
{% block functions %}
<a href="{{ url_for('administrator.manageProfile')}}">
    Manage Profile
</a>
<a href="{{ url_for('administrator.manageUser')}}">
    Manage User
</a>
<a href="{{ url_for('administrator.manageProfile')}}">
    Manage Transit
</a>
<a href="{{ url_for('administrator.manageProfile')}}">
    Manage Site
</a>
<a href="{{ url_for('visitor.exploreEvent')}}">
    Explore Event
</a>
<a href="{{ url_for('visitor.exploreSite')}}">
    Explore Site
</a>
<a href="{{ url_for('visitor.viewVisitHistory')}}">
    View Visit History
</a>
{% endblock functions %}