{% extends "home.html" %}
{% block functions %}
    <button type="button" class="btn btn-outline-info"
            onclick="window.location.href='{{ url_for('user.manage_profile') }}';">Manage Profile
    </button>
    <button type="button" class="btn btn-outline-info"
            onclick="window.location.href='{{ url_for('administrator.manage_user') }}';">Manage User
    </button>
    <button type="button" class="btn btn-outline-info"
            onclick="window.location.href='{{ url_for('administrator.manage_transit') }}';">Manage Transit
    </button>
    <button type="button" class="btn btn-outline-info"
            onclick="window.location.href='{{ url_for('administrator.manage_site') }}';">Manage Site
    </button>
    {% if current_user.is_visitor %}
        {% include "home-visitor.html" %}
    {% endif %}
{% endblock functions %}