{% extends "home.html" %}
{% block content %}
    <div class="col-md-12">
        <label>Start Date<input type="text" id="date_min" class="form-control">
        </label>
        <label>End Date<input type="text" id="date_max" class="form-control">
        </label>
    </div>
    <div class="col-md-12">
        <table>
            <tbody>
            <tr>
                <td>Event Count Range</td>
                <td><input type="text" class="form-control" id="event_count_min" name="min"></td>
                <td><input type="text" class="form-control" id="event_count_max" name="max"></td>
            </tr>
            </tbody>
        </table>
        <table>
            <tbody>
            <tr>
                <td>Staff Count Range</td>
                <td><input type="text" class="form-control" id="staff_count_min" name="min"></td>
                <td><input type="text" class="form-control" id="staff_count_max" name="max"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <table>
            <tbody>
            <tr>
                <td>Total Visits Range</td>
                <td><input type="text" class="form-control" id="total_visit_min" name="min"></td>
                <td><input type="text" class="form-control" id="total_visit_max" name="max"></td>
            </tr>
            </tbody>
        </table>
    </div>
        <div class="col-md-12">
        <table>
            <tbody>
            <tr>
                <td>Total Revenue Range</td>
                <td><input type="text" class="form-control" id="total_revenue_min" name="min"></td>
                <td><input type="text" class="form-control" id="total_revenue_max" name="max"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-outline-info" id="daily_detail">Daily Detail</button>
    <div class="col-md-12">
        <table id="site_report" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Date</th>
                <th>Event Count</th>
                <th>Staff Count</th>
                <th>Total Visits</th>
                <th>Total Revenue</th>
                <th style="display:none;"></th>
                <th style="display:none;"></th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-outline-info" onclick="goBack()">Back</button>
    </div>
    <script>
        $(document).ready(function () {
            var table = $('#site_report').DataTable({
                data: {{ site }},
                columns: [
                    {
                        data: "date"
                    },
                    {
                        data: "event_count",
                    },
                    {
                        data: "staff_count"
                    },
                    {
                        data: "total_visits"
                    },
                    {
                        data: "total_revenue"
                    },
                    {
                        data: "start_date"
                    },
                    {
                        data: "end_date"
                    },
                ],
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                order: [
                    [1, 'asc']
                ]
            });

            $('#event_create').on('click', function () {
                window.location.replace("{{ url_for('manager.create_event') }}");
            });

            $('#event_delete').on('click', function () {
                var name = table.cell('.selected', 0).data();
                var action = "DELETE"
                $.ajax({
                    url: '{{ url_for('manager.manage_event_send_data') }}',
                    type: 'POST',
                    data: function () {
                        return {
                            transit_name: name,
                            action: action,
                        };
                    },
                    success: response => {
                        table.ajax.reload(function (json) {
                            console.log(json.event)
                        });
                    }
                });
            });

        });

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = parseInt($('#date_min').replace(/-/g, ' ').val(), 10);
                var max = parseInt($('#date_max').replace(/-/g, ' ').val(), 10);
                var start = parseFloat(data[5].replace(/-/g, ' ')) || 0;
                var end = parseFloat(data[6].replace(/-/g, ' ')) || 0;

                if ((isNaN(min) && isNaN(max)) ||
                    (isNaN(min) && end <= max) ||
                    (min <= start && isNaN(max)) ||
                    (min <= start && end <= max)) {
                    return true;
                }
                return false;
            }
        );

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = parseInt($('#duration_min').val(), 10);
                var max = parseInt($('#duration_max').val(), 10);
                var duration = parseFloat(data[2]) || 0;

                if ((isNaN(min) && isNaN(max)) ||
                    (isNaN(min) && duration <= max) ||
                    (min <= duration && isNaN(max)) ||
                    (min <= duration && duration <= max)) {
                    return true;
                }
                return false;
            }
        );

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = parseInt($('#total_revenue_min').val(), 10);
                var max = parseInt($('#total_revenue_max').val(), 10);
                var revenue = parseFloat(data[4]) || 0;

                if ((isNaN(min) && isNaN(max)) ||
                    (isNaN(min) && revenue <= max) ||
                    (min <= revenue && isNaN(max)) ||
                    (min <= revenue && revenue <= max)) {
                    return true;
                }
                return false;
            }
        );

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = parseInt($('#total_visit_min').val(), 10);
                var max = parseInt($('#total_visit_max').val(), 10);
                var visit = parseFloat(data[e]) || 0;

                if ((isNaN(min) && isNaN(max)) ||
                    (isNaN(min) && visit <= max) ||
                    (min <= visit && isNaN(max)) ||
                    (min <= visit && visit <= max)) {
                    return true;
                }
                return false;
            }
        );

        $('#duration_min, #duration_max').keyup(function () {
            table.draw();
        });
        $('#date_min, #date_max').keyup(function () {
            table.draw();
        });
        $('#total_revenue_min, #total_revenue_max').keyup(function () {
            table.draw();
        });
        $('#total_visit_min, #total_visit_max').keyup(function () {
            table.draw();
        });

    </script>
{% endblock content %}