{% extends "home.html" %}
{% block content %}
    <legend class="border-bottom mb-4">
        Site Report
    </legend>
    <div class="row">
        <div class="col-md-4">
            <label>Start Date<input type="text" id="date_min" class="form-control" value="0000-00-00">
            </label>
        </div>
        <div class="col-md-4">
            <label>End Date<input type="text" id="date_max" class="form-control" value="9999-12-31">
            </label>
        </div>
    </div>
    <div class="row">
            <div class="col-md-4">
            <label>Minimum Event Count<input type="text" class="form-control" id="event_count_min" name="min">
            </label>
        </div>
                <div class="col-md-4">
            <label>Maximum Event Count<input type="text" class="form-control" id="event_count_max" name="max">
            </label>
        </div>
    </div>
    <div class="row">
        <table>
            <tbody>
            <tr>
                <td>Staff Count Range</td>
                <td><input type="text" class="form-control" id="staff_count_min" name="min"></td>
                <td><input type="text" class="form-control" id="staff_count_max" name="max"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <table>
            <tbody>
            <tr>
                <td>Total Visits Range</td>
                <td><input type="text" class="form-control" id="total_visit_min" name="min"></td>
                <td><input type="text" class="form-control" id="total_visit_max" name="max"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <table>
            <tbody>
            <tr>
                <td>Total Revenue Range</td>
                <td><input type="text" class="form-control" id="total_revenue_min" name="min"></td>
                <td><input type="text" class="form-control" id="total_revenue_max" name="max"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-outline-info" id="daily_detail">Daily Detail</button>
    <div class="col-md-12">
        <table id="site_report" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Event Count</th>
                <th>Staff Count</th>
                <th>Total Visits</th>
                <th>Total Revenue</th>
                <th style="display:none;"></th>
                <th style="display:none;"></th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-outline-info" onclick="location.href='{{ url_for('main.login') }}'">Back
        </button>
    </div>
    <script>
        $(document).ready(function () {

            var table = $('#site_report').DataTable({
                ajax: {
                    url: "{{ url_for('manager.site_report_get_table_data') }}",
                    type: "GET",
                    data: function () {
                        return {
                            start_date: $("#date_min").text(),
                            end_date: $("#date_min").text(),
                        }
                    }
                },
                columns: [
                    {
                        "data": "null",
                        "defaultContent": '',
                    },
                    {
                        data: "data.date"
                    },
                    {
                        data: "data.event_count",
                    },
                    {
                        data: "data.staff_count"
                    },
                    {
                        data: "data.total_visits"
                    },
                    {
                        data: "data.total_revenue"
                    },
                    {
                        data: "data.start_date"
                    },
                    {
                        data: "data.end_date"
                    },
                ],
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                order: [
                    [1, 'asc']
                ]
            });

            $('#event_count_min, #event_count_max').focusout(function () {
                table.ajax.reload(function (json) {
                    $('#date_min').val(json.start_date);
                    $('#date_max').val(json.end_date);
                });
            });


            $('#daily_detail').on('click', function () {
                var date = table.cell('.selected', 1).data();
                if (date == undefined) {
                    alert("You must Select a date first!");
                    return false;
                }
                window.location.replace("{{ url_for('manager.daily_detail')}}" + "?date=" + date);
            });

            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var min_test = $('#date_min').val().replace(/-/g, '');
                    var max_test = $('#date_max').val().replace(/-/g, '');
                    var min = parseInt(min_test, 10);
                    var max = parseInt(min_test, 10);
                    var start = parseFloat(data[6].replace(/-/g, ' ')) || 0;
                    var end = parseFloat(data[7].replace(/-/g, ' ')) || 0;

                    if ((isNaN(min) && isNaN(max)) ||
                        (isNaN(min) && end <= max) ||
                        (min <= start && isNaN(max)) ||
                        (min <= start && end <= max)) {
                        return true;
                    }
                    return false;
                }
            );

            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var min = parseInt($('#event_count_min').val(), 10);
                    var max = parseInt($('#event_count_max').val(), 10);
                    var event_count = parseFloat(data[2]) || 0;

                    if ((isNaN(min) && isNaN(max)) ||
                        (isNaN(min) && event_count <= max) ||
                        (min <= event_count && isNaN(max)) ||
                        (min <= event_count && event_count <= max)) {
                        return true;
                    }
                    return false;
                }
            );

            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var min = parseInt($('#staff_count_min').val(), 10);
                    var max = parseInt($('#staff_count_max').val(), 10);
                    var staff_count = parseFloat(data[3]) || 0;

                    if ((isNaN(min) && isNaN(max)) ||
                        (isNaN(min) && staff_count <= max) ||
                        (min <= staff_count && isNaN(max)) ||
                        (min <= staff_count && staff_count <= max)) {
                        return true;
                    }
                    return false;
                }
            );

            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var min = parseInt($('#total_visit_min').val(), 10);
                    var max = parseInt($('#total_visit_max').val(), 10);
                    var visit = parseFloat(data[4]) || 0;

                    if ((isNaN(min) && isNaN(max)) ||
                        (isNaN(min) && visit <= max) ||
                        (min <= visit && isNaN(max)) ||
                        (min <= visit && visit <= max)) {
                        return true;
                    }
                    return false;
                }
            );

            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var min = parseInt($('#total_revenue_min').val(), 10);
                    var max = parseInt($('#total_revenue_max').val(), 10);
                    var revenue = parseFloat(data[5]) || 0;

                    if ((isNaN(min) && isNaN(max)) ||
                        (isNaN(min) && revenue <= max) ||
                        (min <= revenue && isNaN(max)) ||
                        (min <= revenue && revenue <= max)) {
                        return true;
                    }
                    return false;
                }
            );


            $('#date_min, #date_max').keyup(function () {
                table.draw();
            });
            $('#event_count_min, #event_count_max').keyup(function () {
                table.draw();
            });
            $('#staff_count_min, #staff_count_max').keyup(function () {
                table.draw();
            });
            $('#total_revenue_min, #total_revenue_max').keyup(function () {
                table.draw();
            });
            $('#total_visit_min, #total_visit_max').keyup(function () {
                table.draw();
            });
        });
    </script>
{% endblock content %}