{% extends "home.html" %}
{% block content %}
    <legend class="border-bottom mb-4">
        Manage Event
    </legend>
    <div class="col-md-12">
        <label>Name<input type="text" id="name_search" class="form-control">
        </label>
        <label>Description Keyword<input type="text" id="description_search" class="form-control">
        </label>
    </div>

    <div class="col-md-12">

    </div>       <label>Start Date<input type="text" id="date_min" class="form-control">
</label>
    <label>End Date<input type="text" id="date_max" class="form-control">
    </label>
    <div class="col-md-12">
        <table>
            <tbody>
            <tr>
                <td>Duration Range</td>
                <td><input type="text" class="form-control" id="duration_min" name="min"></td>
                <td><input type="text" class="form-control" id="duration_max" name="max"></td>
            </tr>
            </tbody>
        </table>
        <table>
            <tbody>
            <tr>
                <td>Total Visit Range</td>
                <td><input type="text" class="form-control" id="total_visit_min" name="min"></td>
                <td><input type="text" class="form-control" id="total_visit_max" name="max"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <table>
            <tbody>
            <tr>
                <td>Total Revenue Range</td>
                <td><input type="text" class="form-control" id="total_revenue_min" name="min"></td>
                <td><input type="text" class="form-control" id="total_revenue_max" name="max"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <!--Script for admin needed-->
        <button type="button" class="btn btn-outline-info" id="event_edit">View/Edit</button>
        <button type="button" class="btn btn-outline-info" id="event_create">Create</button>
        <button type="button" class="btn btn-outline-info" id="event_delete">Delete</button>
    </div>
    <div class="col-md-12">
        <table id="event_list" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Staff Count</th>
                <th>Duration(days)</th>
                <th>Total Visits</th>
                <th>Total Revenue</th>
                <th style="display:none;"></th>
                <th style="display:none;"></th>
                <th style="display:none;"></th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-outline-info" onclick="location.href='{{ url_for('main.login') }}'">Back</button>
    </div>
    <script>
        $(document).ready(function () {
            var table = $('#event_list').DataTable({
                data: JSON.parse({{ events|tojson|safe }}),
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "staff_count",
                    },
                    {
                        data: "duration"
                    },
                    {
                        data: "total_visits"
                    },
                    {
                        data: "total_revenue"
                    },
                    {
                        data: "start_date"
                    },
                    {
                        data: "end_date"
                    },
                    {
                        data: "description"
                    }
                ],
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                order: [
                    [1, 'asc']
                ]
            });

            $('#name_search').on('change', function () {
                table.columns(0).search(this.value).draw();
            });
            $('#description_search').on('change', function () {
                table.columns(7).search(this.value).draw();
            });

            $('#event_edit').on('click', function () {
                var name = table.cell('.selected', 0).data();
                if ( name == undefined) {
                    alert("You must Select a event first!");
                    return false;
                }
                window.location.replace("{{ url_for('manager.edit_event')}}" + "?event_name" + name);
            });

            $('#event_create').on('click', function () {
                window.location.replace("{{ url_for('manager.create_event') }}");
            });

            $('#event_delete').on('click', function () {
                var name = table.cell('.selected', 0).data();
                var action = "DELETE"
                var data = JSON.stringify({event_name: name, action: action})
                $.ajax({
                    url: '{{ url_for('manager.manage_event_send_data') }}',
                    contentType: 'application/json;charset=UTF-8',
                    type: 'POST',
                    datatype: 'json',
                    data: data,
                    success: response => {
                        table.ajax.reload(function (json) {
                            console.log(json.event)
                        });
                    }
                });
            });

        });

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min_test = $('#date_min').val().replace(/-/g, '');
                var max_test = $('#date_max').val().replace(/-/g, '');
                var min = parseInt(min_test, 10);
                var max = parseInt(min_test, 10);
                var start = parseFloat(data[5].replace(/-/g, ' ')) || 0;
                var end = parseFloat(data[6].replace(/-/g, ' ')) || 0;

                if ((isNaN(min) && isNaN(max)) ||
                    (isNaN(min) && end <= max) ||
                    (min <= start && isNaN(max)) ||
                    (min <= start && end <= max)) {
                    return true;
                }
                return false;
            }
        );

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = parseInt($('#duration_min').val(), 10);
                var max = parseInt($('#duration_max').val(), 10);
                var duration = parseFloat(data[2]) || 0;

                if ((isNaN(min) && isNaN(max)) ||
                    (isNaN(min) && duration <= max) ||
                    (min <= duration && isNaN(max)) ||
                    (min <= duration && duration <= max)) {
                    return true;
                }
                return false;
            }
        );

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = parseInt($('#total_revenue_min').val(), 10);
                var max = parseInt($('#total_revenue_max').val(), 10);
                var revenue = parseFloat(data[4]) || 0;

                if ((isNaN(min) && isNaN(max)) ||
                    (isNaN(min) && revenue <= max) ||
                    (min <= revenue && isNaN(max)) ||
                    (min <= revenue && revenue <= max)) {
                    return true;
                }
                return false;
            }
        );

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = parseInt($('#total_visit_min').val(), 10);
                var max = parseInt($('#total_visit_max').val(), 10);
                var visit = parseFloat(data[3]) || 0;

                if ((isNaN(min) && isNaN(max)) ||
                    (isNaN(min) && visit <= max) ||
                    (min <= visit && isNaN(max)) ||
                    (min <= visit && visit <= max)) {
                    return true;
                }
                return false;
            }
        );

        $('#duration_min, #duration_max').keyup(function () {
            table.draw();
        });
        $('#date_min, #date_max').keyup(function () {
            table.draw();
        });
        $('#total_revenue_min, #total_revenue_max').keyup(function () {
            table.draw();
        });
        $('#total_visit_min, #total_visit_max').keyup(function () {
            table.draw();
        });

    </script>
{% endblock content %}