{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
<div class="content-section">
    <legend class="border-bottom mb-4">
        Register Menu
    </legend>
    <div id="registerNav_frame">
        <p id="Title">Register</p>
        <button type="button" class="btn btn-outline-info" onclick="window.location.href='{{ url_for('main.register', is_employee=False, is_visitor=False) }}';">User Register</button>
        <button type="button" class="btn btn-outline-info" onclick="window.location.href='{{ url_for('main.register', is_employee=False, is_visitor=True) }}';">Visitor Register</button>
        <button type="button" class="btn btn-outline-info" onclick="window.location.href='{{ url_for('main.register', is_employee=True, is_visitor=False) }}';">Employee Register</button>
        <button type="button" class="btn btn-outline-info" onclick="window.location.href='{{ url_for('main.register', is_employee=True, is_visitor=True) }}';">Employee Visitor Register</button>
        <button type="button" class="btn btn-outline-info" onclick="window.location.href='{{ url_for('main.login') }}';">Back</button>
    </div>
</div>
{% endblock content %}