{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>{% block head %}
    {{super()}}
    {% endblock head %}
</head>

<body>
    <header class="site-header">
        {% block header %}
        {{super()}}
        {% endblock header %}
    </header>
    <main>
            <div class="col-md-8" id="content">
        {% block content %}
        <div class="content-section">
            <legend class="border-bottom mb-4">
                Register Menu
            </legend>
            <div id="registerNav_frame">
                <p id="Title">Register</p>
                <a href="{{ url_for('register-user', usertype=user, isVisitor=false)}}">
                    User Register
                </a>
                <a href="{{ url_for('register-visitor', usertype=user, isVisitor=true)}}">
                    Visitor Register
                </a>
                <a href="{{ url_for(register-employee', usertype=employee, isVisitor=false)}}">
                    Employee Register
                </a>
                <a href="{{ url_for('register-employee-visitor', usertype=employee, isVisitor=true)}}">
                    Employee Visitor Register
                </a>
                <a href="{{ url_for('login')}}">
                    Back
                </a>
            </div>
        </div>
        {% endblock content %}
            </div>
        <div class="col-md-3" id=menu>
                {% block sidebar %}
                <!--suppress Annotator -->
                <div class="content-section">
                    {% block sidebar_title %}
                        <h3>Trip Advisor</h3>
                    {% endblock sidebar_title %}
                    {% block sidebar_description %}
                        <p class='text-muted'>
                            Welcome!
                        </p>
                    {% endblock sidebar_description %}
                    {% block sidebar_content %}
                        {% block sidebar_botton_1 %}
                            <button type="button" class="btn btn-outline-info btn-lg btn-block" href="{{ url_for('nav-register') }}">
                                Refresh Register
                            </button>
                        {% endblock sidebar_botton_1 %}
                        {% block sidebar_botton_2 %}
                            <a role="button" class="btn btn-info btn-lg btn-block" href="{{ url_for('login') }}">
                                Back to Login Page
                           </a>
                        {% endblock sidebar_botton_2 %}
                    {% endblock sidebar_content %}
                </div>
            {% endblock sidebar %}
        </div>
    </main>

    {% block scripts %}
    {{super()}}
    {% endblock scripts%}
</body>