
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RegisterNav</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
 
<body>
<div id="registerNav_frame">
    <p id="Title">Register</p>
        <a href="./userRegister.html">
            <button>User Only</button>
        </a>
        <a href="./visitorRegister.html">
            <button>Visitor Only</button>
        </a>
        <a href="./employeeRegister.html">
            <button>Employee Only</button>
        </a>
        <a href="./employeeVisitorRegister.html">
            <button>Employee-visitor</button>
        </a>
        <a href="./base.html">
            <button>Back</button>
        </a>
</div>
 
</body>
</html>