{% if take_transit %}
<table id="take_transit" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Route</th>
            <th>Transport Type</th>
            <th>Price</th>
            <th>#Connected Sites</th>
        </tr>
    </thead>
</table>
{% endif %}
{% if transit_history %}
<table id="transit_history" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Date</th>
            <th>Route</th>
            <th>Transport Type</th>
            <th>Price</th>
        </tr>
    </thead>
</table>
{% endif %}
{% if manage_user %}
<table id="manage_user" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email Count</th>
            <th>User Type</th>
            <th>Status</th>
        </tr>
    </thead>
</table>
{% endif %}
{% if manage_site %}
<table id="manage_site" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Manager</th>
            <th>Open Everyday</th>
        </tr>
    </thead>
</table>
{% endif %}
{% if manage_transit %}
<table id="manage_transit" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Route</th>
            <th>Transport Type</th>
            <th>Price</th>
            <th># Connected Sites</th>
            <th># Transit Logged</th>
        </tr>
    </thead>
</table>
{% endif %}
{% if manage_event %}
<table id="manage_event" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Staff Count</th>
            <th>Duration(days)</th>
            <th>Total Visits</th>
            <th>Total Revenue($)</th>
        </tr>
    </thead>
</table>
{% endif %}
{% if edit_event %}
<table id="edit_event" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Date</th>
            <th>Daily Visits</th>
            <th>Daily Revenue($)</th>
        </tr>
    </thead>
</table>
{% endif %}
