{% extends "home.html" %}
{% block scripts %}
{{super()}}
<script>
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var min = parseInt($('#min').val(), 10);
            var max = parseInt($('#max').val(), 10);
            var price = parseFloat(data[2]) || 0;

            if ((isNaN(min) && isNaN(max)) ||
                (isNaN(min) && age <= max) ||
                (min <= price && isNaN(max)) ||
                (min <= price && price <= max)) {
                return true;
            }
            return false;
        }
    );
</script>
{% endblock %}

{% block content %}
<div class="row">
<div class="unselected-field" id="select_site">
    <label>Contain Site<select id="contain_site" name="contain_site">
            {% for site in sites %}
            <option value={{site}}>{{site}}</option>
            {% endfor %}
            </select>
            <button type="button" class="btn btn-outline-info" id="filter_take_transit">Filter for sites</button>
    </label>
    <label>Transport Type<select id="transport_type" name="transport_type">
            <option value="MARTA">MARTA</option>
            <option value="Bus">Bus</option>
            <option value="Bike">Bike</option>
        </select>    
    </label>
</div>​
</div>
<div class="row">
<table>
    <tbody>
        <tr>
            <td>Price Range</td>
            <td>Min<input type="text" id="min" name="min"></td>
        </tr>
        <tr>
            <td>Max<input type="text" id="max" name="max"></td>
        </tr>
    </tbody>
</table>
    </div>
<table id="take_transit" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Route</th>
            <th>Transport Type</th>
            <th>Price</th>
            <th>#Connected Sites</th>
        </tr>
    </thead>
</table>
<div class="row">
<input type="text" id="transit_date" name="transit_date">
<button type="button" class="btn btn-outline-info" href="javascript:history.back()">Back</button>
<button type="button" class="btn btn-outline-info" id="log_transit">Log Transit</button>
</div>
{% endblock content %}

