{% extends "home.html" %}
{% block content %}
<div class="unselected-field row" id="select">
    <label>Transport Type<select id="transport_type" name="transport_type" class="form-control">
            <option value="MARTA">MARTA</option>
            <option value="Bus">Bus</option>
            <option value="Bike">Bike</option>
        </select>
    </label>
    <label>Contain Site<select id="contain_site" name="contain_site" class="form-control">
            {% for site in sites %}
                <option value="{{ site }}">{{ site }}</option>
            {% endfor %}
        </select>
    </label>
</div>​
<div class="row">
<label>Route<select id="contain_route" name="contain_route" class="form-control">
            {% for route in routes %}
                <option value="{{ route }}">{{ route }}</option>
            {% endfor %}
        </select>
    </label>
</div>
<div class="row">
    <table id="transit_history" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Route</th>
                <th>Transport Type</th>
                <th>Price</th>
            </tr>
        </thead>
    </table>
</div>
<div class="row">
    <button type="button" class="btn btn-outline-info" href="javascript:history.back()">Back</button>
</div>
    <script>
       $(document).ready(function () {
            var table = $('#transit_history').DataTable({
                ajax: {
                    url: "{{ url_for('user.transit_history_get_table_data') }}",
                    type: "GET",
                    data: function () { return {site_name: $("#contain_site option:selected").text()};},
                },
                columns: [
                    {
                        data: "date"
                    },
                    {
                        data: "route",
                    },
                    {
                        data: "transport_type"
                    },
                    {
                        data: "price"
                    }
                ],
            });

            $('#contain_site').on('change', function () {
                table.ajax.reload(function(json) {console.log(json)});
            });

            $('#transport_type').on('change', function () {
                table.columns(2).search(this.value).draw();
            });

            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var min = parseInt($('#min').val(), 10);
                    var max = parseInt($('#max').val(), 10);
                    //var date = parseFloat(data[2]) || 0;

                    if ((isNaN(min) && isNaN(max)) ||
                        (isNaN(min) && date <= max) ||
                        (min <= date && isNaN(max)) ||
                        (min <= date && date <= max)) {
                        return true;
                    }
                    return false;
                }
            );

            $('#min, #max').keyup( function() {
                table.draw();
                } );
        });
</script>

{% endblock content %}


