{% extends "home.html" %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
    <legend class="border-bottom mb-4">
        Manage Profile
    </legend>
    <div class="content-section">
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ render_field(form.first_name) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ render_field(form.last_name) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ render_field(form.username) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ render_field(form.site_name) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ render_field(form.employee_id) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ render_field(form.phone) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ render_field(form.address) }}
                    </div>
                </div>
                <div class="form-group">
                    {% if form.emails.errors %}
                        {{ form.emails(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.emails.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% for subform in form.emails.entries %}
                        {{ subform.hidden_tag() }}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ render_field(subform.email) }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ render_field(subform.remove) }}
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ render_field(form.email) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ render_field(form.add) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ render_field(form.visitor) }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        <button type="button" class="btn btn-outline-info" onclick="goBack()">Back</button>
    </div>
    <div class="border-top pt-2">
        <small class="text-muted">
            Sign out now? <a class="ml-2" href="{{ url_for('main.logout') }}">Sign out</a>
        </small>
        >
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alter!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    When you add or move your visitor attribute, your data of visits will be wiped!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}