{% extends "home.html" %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
<div class="content-section">
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Manage Profile
            </legend>
            <div class="form-group">
                {{ render_field(form.first_name)}}
            </div>
            <div class="form-group">
                {{ render_field(form.last_name)}}
            </div>
            <div class="form-group">
                {{ render_field(form.username)}}
            </div>
            <div class="form-group" id="container">
                {% block container %}
                {% endblock container %}
            </div>
            <div class="form-group">
                {{ form.emails.label(class="form-control-label") }}
                {% if form.emails.errors %}
                {{ form.emails(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.emails.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {% for email in form.emails %}
                {{ email.form.email() }}
                <button class="btn btn-outline-info" onclick="{{ form.add_email }}">Add Email</button>
                {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ render_field(form.visitor)}}
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">
                    Confirm
                </button>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info")}}
        </div>
    </form>
    <button type="button" class="btn btn-outline-info" href="javascript:history.back()">Back</button>
</div>
<div class="border-top pt-2">
    <small class="text-muted">
        Sign out now? <a class="ml-2" href="{{ url_for('main.logout') }}">Sign out</a>
    </small>>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alter!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                When you add or move your visitor attribute, your data of visits will be wiped!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}