{% extends "home.html" %}
{% block content %}
<div class="unselected-field row" id="select">
    <label>Transport Type<select id="transport_type" name="transport_type">
            <option value="MARTA">MARTA</option>
            <option value="Bus">Bus</option>
            <option value="Bike">Bike</option>
        </select>
    </label>
    <label>Contain Site<select id="contain_site" name="contain_site">
            {% for site in sites %}
            <option value="{{ site.name}}">{{site.name}}</option>
            {% endfor %}
            <button type="button" class="btn btn-outline-info" id="filter_transit_history">Filter for sites</button>
    </label>
</div>​
<div class="row">
    <table>
        <tbody>
            <tr>
                <td>Start Date<input type="text" id="min" name="min"></td>
            </tr>
            <tr>
                <td>End Date<input type="text" id="max" name="max"></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <table id="transit_history" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Route</th>
                <th>Transport Type</th>
                <th>Price</th>
            </tr>
        </thead>
    </table>
</div>
<div class="row">
    <button type="button" class="btn btn-outline-info" href="javascript:history.back()">Back</button>
</div>
{% endblock content %}

{% block scripts %}
<script>
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {

            var min = parseInt($('#min').val().replaceAll('-', ''), 10);
            var max = parseInt($('#max').val().replaceAll('-', ''), 10);
            var price = parseInt(data[2].replaceAll('-', '')) || 0;

            if ((isNaN(min) && isNaN(max)) ||
                (isNaN(min) && age <= max) ||
                (min <= price && isNaN(max)) ||
                (min <= price && price <= max)) {
                return true;
            }
            return false;
        }
    );
</script>
{% endblock %}