{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <form method="post" action="" title="Transit_Filter">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Take Transit
            </legend>
            <div class="form-group">
                    {{ render_field(filter_form.sites)}}
            </div>
            <div class="form-group">
                    {{ render_field(filter_form.transport_type)}}
            </div>
            <div class="form-group">
                    {{ render_field(filter_form.price_range)}}
            </div>
        </fieldset>
            <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <form method="post" action="" title="Transit_Selector">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.transits.label(class="form-control-label") }}
                {% if form.transits.errors %}
                {{ form.transits(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.transits.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.transits(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.transit_date.label(class="form-control-label") }}
                {% if form.transit_date.errors %}
                {{ form.transit_date(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.transit_date.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.transit_date(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}