{% extends "home.html" %}
{% block content %}
    <legend class="border-bottom mb-4">
        Explore Event
    </legend>
    <div class="row">
        <div class="col-md-4">
            <label>Name<input type="text" id="name_search" class="form-control">
            </label>
        </div>
        <div class="col-md-4">
            <label>Description Keyword<input type="text" id="description_search" class="form-control">
            </label>
        </div>
        <div class="col-md-4">
            <label>Contain Site<select id="contain_site" name="contain_site" class="form-control">
                {% for site in sites %}
                    <option value="{{ site }}">{{ site }}</option>
                {% endfor %}
            </select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Start Date<input type="text" id="date_min" class="form-control">
            </label>
        </div>
        <div class="col-md-4">
            <label>End Date<input type="text" id="date_max" class="form-control">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Minimum Total Visit<input type="text" class="form-control" id="total_visit_min" name="min">
            </label>
        </div>
        <div class="col-md-4">
            <label>Maximum Total Visit<input type="text" class="form-control" id="total_visit_max" name="max">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Minimum Total Price<input type="text" class="form-control" id="ticket_price_min" name="min">
            </label>
        </div>
        <div class="col-md-4">
            <label>Maximum Total Price<input type="text" class="form-control" id="ticket_price_max" name="max"></td>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Visit Status<select id="visit_status" name="visit_status" class="form-control">
                <option value="">ALL</option>
                <option value="True">Only Visited</option>
                <option value="False">Only Unvisited</option>
            </select>
            </label>
        </div>
        <div class="col-md-4">
            <label>Sold Out<select id="sold_out" name="sold_out" class="form-control">
                <option value="">ALL</option>
                <option value="True">Only Sold Out Events</option>
                <option value="False">Only Unsold Out Events</option>
            </select>
            </label>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <table id="explore_event" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th></th>
                    <th>Event Name</th>
                    <th>Site Name</th>
                    <th>Ticket Price</th>
                    <th>Ticket Remaining</th>
                    <th>Total Visits</th>
                    <th>My Visits</th>
                    <th style="display:none;"></th>
                    <th style="display:none;"></th>
                    <th style="display:none;"></th>
                    <th style="display:none;"></th>
                    <th style="display:none;"></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-outline-info" onclick="location.href='{{ url_for('main.login') }}'">
                Back
            </button>
            <button type="button" class="btn btn-outline-info" id="event_detail">Event Detail
            </button>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var table = $('#explore_event').DataTable({
                data: JSON.parse({{ events|tojson|safe }}),
                columns: [
                    {
                        "data": "null",
                        "defaultContent": '',
                    },
                    {
                        data: "events_name",
                        render: "[</br>]".event_name
                    },
                    {
                        data: "site_name"
                    },
                    {
                        data: "ticket_price"
                    },
                    {
                        data: "ticket_remaining"
                    },
                    {
                        data: "total_visits"
                    },
                    {
                        data: "my_visits"
                    },
                    {
                        data: "start_date"
                    },
                    {
                        data: "end_date"
                    },
                    {
                        data: "description"
                    },
                    {
                        data: "visited"
                    },
                    {
                        data: "sold_out"
                    },
                ],
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                },
                    {
                        "targets": [8],
                        "visible": false,
                    },
                    {
                        "targets": [9],
                        "visible": false,
                    },
                    {
                        "targets": [10],
                        "visible": false,
                    },
                    {
                        "targets": [11],
                        "visible": false,
                    },
                    {
                        "targets": [12],
                        "visible": false,
                    },],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                order: [
                    [1, 'asc']
                ]
            });

            ////need restruction
            $('#event_detail').on('click', function () {
                var name = encodeURIComponent(table.cell('.selected', 2).data());
                var eventname = encodeURIComponent(table.cell('.selected', 1).data());
                var startdate = encodeURIComponent(table.cell('.selected', 6).data());
                if (name == undefined) {
                    alert("You must Select a site first!");
                    return false;
                }
                if (eventname == undefined) {
                    alert("You must Select a event first!");
                    return false;
                }
                if (startdate == undefined) {
                    alert("You must Select a start date first!");
                    return false;
                }
                window.location.replace("{{ url_for('visitor.event_detail')}}" + "?site_name=" + name + "&event_name=" + eventname + "&start_date=" + startdate);
            });

            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var min_test = $('#date_min').val().replace(/-/g, '');
                    var max_test = $('#date_max').val().replace(/-/g, '');
                    var min = parseInt(min_test, 10);
                    var max = parseInt(min_test, 10);
                    var start = parseFloat(data[7].replace(/-/g, ' ')) || 0;
                    var end = parseFloat(data[8].replace(/-/g, ' ')) || 0;

                    if ((isNaN(min) && isNaN(max)) ||
                        (isNaN(min) && end <= max) ||
                        (min <= start && isNaN(max)) ||
                        (min <= start && end <= max)) {
                        return true;
                    }
                    return false;
                }
            );


            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var min = parseInt($('#ticket_price_min').val(), 10);
                    var max = parseInt($('#ticket_price_max').val(), 10);
                    var price = parseFloat(data[3]) || 0;

                    if ((isNaN(min) && isNaN(max)) ||
                        (isNaN(min) && price <= max) ||
                        (min <= price && isNaN(max)) ||
                        (min <= price && price <= max)) {
                        return true;
                    }
                    return false;
                }
            );

            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var min = parseInt($('#total_visit_min').val(), 10);
                    var max = parseInt($('#total_visit_max').val(), 10);
                    var visit = parseFloat(data[5]) || 0;

                    if ((isNaN(min) && isNaN(max)) ||
                        (isNaN(min) && visit <= max) ||
                        (min <= visit && isNaN(max)) ||
                        (min <= visit && visit <= max)) {
                        return true;
                    }
                    return false;
                }
            );


            $('#date_min, #date_max').keyup(function () {
                table.draw();
            });
            $('#total_visit_min, #total_visit_max').keyup(function () {
                table.draw();
            });
            $('#ticket_price_min, #ticket_price_max').keyup(function () {
                table.draw();
            });


            $('#name_search').on('change', function () {
                table.columns(1).search(this.value).draw();
            });
            $('#description_search').on('change', function () {
                table.columns(9).search(this.value).draw();
            });

            $('#visit_status').on('change', function () {
                table.columns(10).search(this.value).draw();
            });
            $('#sold_out').on('change', function () {
                table.columns(11).search(this.value).draw();
            });


            $('#contain_site').on('change', function () {
                table.columns(2).search(this.value).draw();
            });

        });
    </script>
{% endblock content %}