{% extends "home.html" %}
<!DOCTYPE html>
{% block content %}
    <legend class="border-bottom mb-4">
        Event Detail
    </legend>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ render_field(form.event_name) }}
                </div>
                <div class="form-group col-md-6">
                    {{ render_field(form.site_name) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ render_field(form.start_date) }}
                </div>
                <div class="form-group col-md-6">
                    {{ render_field(form.end_date) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ render_field(form.ticket_price) }}
                </div>
                <div class="form-group col-md-6">
                    {{ render_field(form.ticket_remaining) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="form-group col-md-4">
                        {{ render_field(form.description) }}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    {{ render_field(form.visit_date) }}
                    <div class="form-group col-md-4">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <button type="button" class="btn btn-outline-info" onclick="location.href='{{ url_for('visitor.explore_event') }}'">Back</button>
        </div>
    </form>
{% endblock %}